{
	"ownername":"Testpers",
	"devicename":"{ownername}-Raspberry",
	"ftp":{
		"server":"ftp.example.com",
		"username":"ftpuser",
		"password":"ftppw",
		"rootpath":"/Upload/{ownername}"
	},
	"smtp":{
		"server":"smtp.gmail.com",
		"port":25,
		"usessl":true,
		"username":"gmailuser",
		"password":"password",
		"from":{
			"name":"Raspberry-{ownername}",
			"mail":"gmailuser@gmail.com"
		},
		"to":{
			"name":"{ownername}",
			"mail":"receiver@gmail.com"
		}
	},
	"devicerootpath":"/",
	"uploadlogcount":10,
	"uploadlogcount_comment":"Specifies how often the status should be sent to the server. For example, 5 means send a log every 20%",
	"maxlogdelay":300,
	"maxlogdelay_comment":"Send a log regardless of progress every x seconds",
	"logapiurl":"http://example.com/sendlog.php",
	"templates":{
		"subject": "[{{device}}] {{subject}}",
		"footer":"\n\n--\nDiese automatisierte E-Mail wurde von Gerät {{device}} gesendet. ({{identification}})",
		"uploadBegin":{
			"subject":"Hochladen hat begonnen.",
			"body":"Das automatische Hochladen hat begonnen. Es werden {{filecount}} Dateien ({{megabytes}} MB) hochgeladen.\nDer genaue Status kann auf http://example.com/{{ownername}} nachgesehen werden.\nEs wird eine weitere E-Mail gesendet, sobald der Upload fertig ist."
		},
		"uploadComplete":{
			"subject":"Hochladen abgeschlossen",
			"body":"Hochladen abgeschlossen. Es wurden insgesamt {{filecount}} Dateien ({{megabytes}}MB) hochgeladen. Das ganze hat {{duration}} gedauert."
		}
	}
}
